<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Typing Authentication</h1>
        <div class="typing-box">
            <p id="text-display">The quick brown fox jumps over the lazy dog.</p>
            <p id="text-input" autofocus>
        </div>
        <p id="timer">Time: 0s</p>
        <br>

        <div class="login-box">
            <p>
                {% if username %}
                    <a href={{"/profile/"+username}}>Profile</a>
                {% else %}
                    <a href="/login">Login</a>
                {% endif %}
            </p>
        </div>
    </div>

    <script src="/static/js/index.js" async defer></script>
</body>
</html>