<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Typing Authentication</h1>
        <div class="typing-box">
            <p id="text-display">The quick brown fox jumps over the lazy dog.</p>
            <p id="text-input" autofocus>
        </div>
        <p id="timer">Time: 0s</p>
        <br>

        <div class="login-box">
            <p><a href="/login">Login</a></p>
        </div>
    </div>

    <script>
        document.addEventListener('keydown', function(event) {
            fetch('/key_press', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ key: event.key })
            })
            .then(response => response.json())
            .then(data => {
                let curText=document.getElementById('text-input').textContent;
                if (data.key=="Backspace") {
                    curText=curText.substring(0, curText.length-1);
                } else if (data.valid==true) {
                    curText+=data.key;
                } else if (data.key=="Enter") {
                    clearInterval();
                    window.location.href="/results";
                }
                document.getElementById('text-input').textContent = curText;
            })
            .catch(error => console.error('Error:', error));
        });

        let counter = 0;
        function updateCounter() {
            counter++;
            document.getElementById('timer').textContent = "Time: "+counter+"s";
        }
        setInterval(updateCounter, 1000);
    </script>
</body>
</html>